<div class="container text-center">
    <h3 class="mt-5">Comunicate con nosotros:</h3>
    <ul class="list-group mt-5">
        <li class="list-group-item"><span class="font-weight-bold">Dirección:</span> Av. Belgrano 284, Tres Arroyos.</li>
        <li class="list-group-item"><span class="font-weight-bold">Mail:</span> blancoalgodon@gmail.com</li>
        <li class="list-group-item"><span class="font-weight-bold">WhatsApp:</span> 2983-543906</li>
        <li class="list-group-item"><span class="font-weight-bold">Instagram:</span> @blancoalgodonhogar</li>
    </ul>
</div>

