<h3>Lista de productos</h3>
<table class="table">
	<thead class="text-center">
		<tr>
			<th>Imagen</th>
			<th>Tipo</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Stock</th>
			<th>Cantidad</th>
			<th>Acción</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let product of products">
			<td><img [src]="product.image"></td>
			<td>{{product.type}}</td>
			<td>{{product.name}}</td>
			<td class="text-center">{{product.price | currency : currencyCode : digitInfo : '.0'}}</td>
			<td class="text-center"><span *ngIf="product.stock==0; then noHayStock else siHayStock"></span>
				<ng-template #noHayStock><span class="badge badge-warning">No disponible</span></ng-template>
				<ng-template #siHayStock>{{product.stock}}</ng-template>
			</td>
			<td>
				<app-input-integer [(quantity)]="product.quantity" [max]="product.stock" *ngIf="product.stock"></app-input-integer>				
			</td>
			<td>
				<button *ngIf="product.stock" class="btn btn-info" (click)="addToCart(product)">Comprar</button>
			</td>
		</tr>
	</tbody>
</table>